ul.navbar-ul {
    display: flex;
    list-style: none;
}

ul.navbar-ul li a {
    color: white;
}

ul.navbar-ul li {
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

ul.navbar-ul li:hover {
    color: rgb(172, 172, 172);
}

.fade {
    transition: all .3s ease-in-out;
}